.dif {
    background: #FFC300;
   }

.steps {
        width: 100%;
    }

TH.st {
        width: 25%;
    }

TABLE.steps {
        background: grey;
    }

.active{
        background: #FFC300;
    }

.notActive{
        background: white;
    }

.hide {
        display: none;
    }

.show {
    }
