<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
</head>
<body>
User: {{ request.user }}
<form>
    <fieldset>
    {{form}}
    </fieldset>
</form>
{% for client in object_list %}
    Организация: {{ client.form }}"{{ client.name }}"</br>
    Пройден базовый опрос: {{ client.basic_survey }}</br>
    Тип организации: {{ client.type }} </br>
Санкции: {{ client.sanctions }}</br>
    <a href="{{ client.id }}">Подробнее</a></br>
{% endfor %}
</br>
</br>
<a href="/main/">На главную</a>
</body>
</html>
