<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{ client.form }} {{ client.name }}</title>
</head>
<body>
{% load get_verbose_name %}

{{ client.form }} {{ client.name }}</br>
{% model_field_verbose_name from client.inn %}: {{ client.inn }}
</br>
</br>

{% block basic_info %}

{% model_field_verbose_name from client.type %}: {{ client.type }} </br>
{% model_field_verbose_name from client.sanctions %}:{{ client.sanctions }} </br>
{% model_field_verbose_name from client.crimea %}: {{ client.crimea }} </br>
{% model_field_verbose_name from client.imp %}: {{ client.imp }} </br>
</br>

{% if client.basic_survey %}
<a href="client-info-edit/">Редактировать информацию</a>
{% endif %}
</br>
</br>
Контактные лица:</br>
{% for contact in contacts %}
    {{ contact.last_name }}
    {{ contact.first_name }}
    {{ contact.father_name }}
    Тел.: {{ contact.phone_number }}
    {% if contact.phone_number2 %}
        Тел. 2:{{ contact.phone_number2 }}
    {% endif %}
    E-mail: {{ contact.email }}
    {{ contact.position }}</br>
{% endfor %}</br>
<a href="add-contact/">Добавить контактное лицо</a>
</br>
</br>
{% if changes %}
    <a href="hist/">История изменений</a>
{% endif %}
{% endblock %}

{% if not client.basic_survey %}
    <a href="client-info-form/">Начать базовый опрос</a>
{% endif %}
</br>
</br>
{% if client.basic_survey %}
    <a href="new-query/">Новый запрос</a>
{% endif %}
</br>
</br>
<a href="delete/">Удалить клиента</a>
</br>
</br>
<a href="/clients/">К списку клиентов</a></br>
<a href="/main/">На главную</a>
</body>
</html>

