<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
</head>
<body>
User: {{ request.user }}
<a href="/add-client/">Добавить клиента</a>
<a href="/main/">На главную</a>
<form>
    <fieldset>
    {{form}}
        <button type="submit">Применить</button>
    </fieldset>
</form>
{% for client in object_list %}
<b>Организация:</b> {{ client.form }}"{{ client.name }}"</br>
    {% if not client.basic_survey %}
     <span style="color: #ff6600;"><p>*** Не пройден базовый опрос!</p></span>
    {% endif %}
    Тип организации: {{ client.type }} </br>
    Санкции: {{ client.sanctions }}</br>
    Количество открытых заказов: {{ client.open_query }}</br>
    <a href="{{ client.id }}">Подробнее</a></br></br>
</br>
{% endfor %}
</body>
</html>
