<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История изменений основной информации</title>
</head>
<body>
{% load get_verbose_name %}

{{ client.form }} {{ client.name }}</br>
{% model_field_verbose_name from client.inn %}: {{ client.inn }}
</br>
</br>
<span style="color: #ff6600;">***В анкету были внесены изменения {{ client.changed_at }}</span></br>
<b>Актуальные данные:</b> </br>
{% model_field_verbose_name from client.type %}: {{ client.type }} </br>
{% model_field_verbose_name from client.sanctions %}:{{ client.sanctions }} </br>
{% model_field_verbose_name from client.crimea %}: {{ client.crimea }} </br>
{% model_field_verbose_name from client.imp %}: {{ client.imp }} </br>
</br>
{% model_field_verbose_name from client.added_at %}: {{ client.added_at }}
</br>
</br>

<b>История изменений:</b></br>

{% for change in changes %}

<b> Дата:</b> {{ change.changed_at }} <b>Категория: </b>{{ change.ch_type }}</br>
*Текст при наведении мышкой: {{ change.change }} кем: {{ change.manager }}</br>

<a href="{{ change.id }}">Старая версия</a> *? Сделать отображение старой версии по наведению мышки вместо ссылки?*  </br>

</br>
{% endfor %}
</body>
</html>
