<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block survey %}

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    {% if certificates and vendors %}
    <b>Сертификация:</b></br>
    {% for cert in certificates %}
        {{ cert.name }} {% if cert in query.certificate.all %} <input type="checkbox" name="certificates[]" value="{{ cert.name }}" checked="checked" /> {% endif %}
                        {% if cert not in query.certificate.all %} <input type="checkbox" name="certificates[]" value="{{ cert.name }}" /> {% endif %}</br>
    {% endfor %}
    </br>
    <b>Вендоры:</b></br>
    {% for vendor in vendors %}
        {{ vendor.name }}
        {% if vendor in query.vendors.all %}
         <input type="checkbox" name="checks[]" value="{{ vendor.name }}" checked="checked" /></br>
        {% endif %}
        {% if vendor not in query.vendors.all %}
         <input type="checkbox" name="checks[]" value="{{ vendor.name }}" /></br>
        {% endif %}
    {% endfor %}</br>
    {% endif %}
    <button type="submit">{{ button }}</button>
</form>

{% endblock %}
</body>
</html>
