<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ old.last_name }} {{ old.first_name }}(Удалено)</title>
</head>
<body>
<h1>Контактное лицо {{ old.last_name }} {{ old.first_name }}(Удалено)</h1>

{% load get_verbose_name %}

<b>Клиент:</b> {{ client.form }} {{ client.name }}</br>
{% model_field_verbose_name from client.inn %}: {{ client.inn }}
</br>

</br>
</br>

{% block old_info %}
<b>Данные контактного лица:</b></br>
    {% model_field_verbose_name from old.last_name %}: {{ old.last_name }} </br>
    {% model_field_verbose_name from old.first_name %}:{{ old.first_name }} </br>
    {% model_field_verbose_name from old.father_name %}: {{ old.father_name }} </br>
    {% model_field_verbose_name from old.phone_number %}: {{ old.phone_number }} </br>
    {% model_field_verbose_name from old.phone_number2 %}: {{ old.phone_number2 }} </br>
    {% model_field_verbose_name from old.email %}: {{ old.email }} </br>
    {% model_field_verbose_name from old.position %}: {{ old.position }} </br>

{% endblock %}

</body>
</html>
