<!DOCTYPE html>
<html lang="ru">

<head>
{% load staticfiles %}

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Авторизация</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" type="text/css" href="{% static 'survey/css/main_min.css' %}" />

</head>

<body>
	<div class="containerMain row">
		<div class="loginWrapper row">
			<div class="topEnter col-md-12 row">
				<img src="{% static "survey/img/logo.png" %}" alt="Logo">
			</div>
			<div class="mainEnter col-md-12 row">
				<div class="inputs">
                    <form method="post" action="/login/">
                    {% csrf_token %}
                    <p class="inputText">Пользователь: <block class="enter">{{ form.username }}</block></p>
					<p class="inputText">Пароль: <block class="enter">{{ form.password }}</block></p>
                </div>
				<div class="button">
					<button class="enterButton">Вход</button>
				</div>
                    </form>


			</div>
		</div>		
	</div>


	<script src="js/scripts.min.js"></script>

</body>
</html>
